# wildcards
!.config/*

# unix directories
.cache
.local

# app directories
.amplify
.audacity-data
.aws
.cargo
.dbus
.docker
.eclipse
.git
.gnome2
.java
.jbr
.kube
.mozilla
.npm
.nvm
.oh-my-bash
.pcsxr
.pki
.pyenv
.rustup
.serverless
.ssh
.steam
.swt
.void-packages
.yarn
.zoom

# files
.Xauthority
.bash_history
.gcloud
.lesshst
.node_repl_history
.osh-update
.pulse-cookie
.python_history
.rediscli_history
.serverlessrc
.steampath
.steampid
.yarnrc

# config directories
GIMP
JetBrains
Microsoft*
Unknown*
VirtualBox
ardour6
asciiname
autostart
calibre
cef_user_data
chromium
configstore
dconf
dolphin-emu
gcloud
glib-2.0
gpick
gtk-2.0
gtk-3.0
higan
hiro
libreoffice
nextjs-nodejs
nicotine
obs-studio
pulse
qtfm6
session
snes9x
visualboyadvance*
yarn

# config files
VirtualBoxrc
calibrerc
nmcli
pavucontrol.ini
zoomus.conf
