# wildcards
!.config/*

# unix directories
.cache
.local

# app directories
.amplify
.audacity-data
.aws
.cargo
.dbus
.docker
.eclipse
.git
.gnome2
.java
.jbr
.kube
.mozilla
.npm
.nvm
.oh-my-bash
.pcsxr
.pki
.pyenv
.rustup
.serverless
.ssh
.steam
.swt
.void-packages
.yarn
.zoom

# files
.Xauthority
.bash_history
.gcloud
.lesshst
.node_repl_history
.osh-update
.pulse-cookie
.python_history
.rediscli_history
.serverlessrc
.steampath
.steampid
.yarnrc
zoom.conf

# config directories
FreeCAD
GIMP
JetBrains
Microsoft*
Unknown*
VirtualBox
Seafile
Slack
Thunar
ardour*
asciiname
autostart
calibre
cef_user_data
chromium
configstore
dconf
dolphin-emu
gcloud
glib-*
go/
godot/
gpick
gtk-*
higan
hiro
libreoffice
krita*
mako/
nextjs-nodejs
nicotine
obs-studio
pulse
pypoetry
retroarch
qBittorent
qtfm*
session
snes9x
tmux/
visualboyadvance*
xfce4
yarn

# config files
VirtualBoxrc
calibrerc
nmcli
pavucontrol.ini
zoomus.conf
