* {
  font-size: 15px;
  font-family: "UbuntuMono", "monospace";
}

window > box {
  margin: 15px 15px 0px 15px;
}

/* Omit side margins for left-most and right-most widgets. */
.modules-left,
.modules-right {
  border: 2px solid #2e3440;
}

window#waybar {
  background: transparent;
  color: #d8dee9;
}

window#waybar.empty #window {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

#window {
  margin: 0 10px;
  padding: 0 10px;
  background-color: #2e3440;
  color: #d8dee9;
  border-radius: 22px;
}

button:hover {
  background: inherit;
  box-shadow: none;
}

#workspaces button {
  border: none;
  padding: 3 7px;
  box-shadow: none;
  transition: all 200ms ease;
  border-radius: 0;
  background-color: #3b4252;
  color: #d8dee9;
  box-shadow: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#workspaces button:hover,
#workspaces button.focused:hover {
  border: none;
  transition: all 200ms ease;
  box-shadow: none;
  border: solid 1px #8fbcbb;
  text-shadow: none;
  background-color: #8fbcbb;
  color: #2a2c2f;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#clock,
#workspaces button.focused {
  border: none;
  background-color: #2e3440;
  color: #d8dee9;
  border-bottom: 2px solid #5e81ac;
}

#clock {
  padding: 0 10px;
  border-bottom: 0;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language,
#mpd {
  padding: 0 10px;
  background-color: #3b4252;
}

.modules-right {
  background-color: #3b4252;
}

.modules-left {
  background-color: #3b4252;
}

#taskbar button {
  border: none;
  border-bottom: 2px solid transparent;
}

#taskbar button.active {
  border: none;
  border-bottom: 2px solid #5e81ac;
  border-radius: 0;
  background-color: #2e3440;
}
