* {
    font-size: 15px;
    font-family: "UbuntuMono", "monospace";
}

window > box {
    margin: 0px 5px 0 5px;
}

/* Omit side margins for left-most and right-most widgets. */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

window#waybar {
    background: transparent;
    color: #eee;
}

window#waybar.empty #window {
    background-color: rgba(0,0,0,0.0);
}

#window {
    margin: 0 10px;
    padding: 0 10px;
    background-color: #4fb07f;
    color: #0f080a;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

#workspaces button {
    transition-duration: 200ms;
    border-radius: 0;
    background-color: #0f080a;
    color: #eee;
}

#workspaces button:hover, 
#workspaces button.focused:hover {
    transition-duration: 200ms;
    box-shadow: none;
    border: solid 1px #60d090;
    text-shadow: none;
    background-color: #60d090;
    color: #0f080a;
}

#clock,
#workspaces button.focused {
    background-color: #4fb07f;
    color: #0f080a;
}

#clock {
    padding: 0 10px;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    background-color: #0f080a;
}

