* {
  font-family: "UbuntuMono", monospace;
}

#window {
  background-color: transparent;
  border: transparent;
}

#inner-box {
  margin: 4px 4px 8px 4px;
}

#scroll {
  margin-bottom: 4px;
}

#entry:selected {
  background-color: #4fb07f;
}

#entry {
  background-color: #e2ddd2;
}

#input {
  background-color: #e2ddd2;
  border-radius: 0px;
  margin: 4px;
  padding: 4px;
}
