* {
  font-family: "UbuntuMono", monospace;
}

#window {
  background-color: transparent;
  border: transparent;
}

#inner-box {
  margin: 4px 4px 8px 4px;
}

#scroll {
  margin-bottom: 4px;
}

#entry:selected {
  background-color: #cf636c;
  border-radius: 0px;
}

#entry {
  background-color: #2a2c2f;
  color: #f4ebec;
  border-radius: 0px;
}

#input {
  background-color: #2a2c2f;
  border-color: #015a68;
  border-radius: 0px;
  margin: 4px;
  padding: 4px;
  color: #f4ebec;
}
