* {
  font-family: "UbuntuMono", monospace;
}

#window {
  background-color: transparent;
  border: transparent;
}

#inner-box {
  margin: 4px 4px 8px 4px;
}

#scroll {
  margin-bottom: 4px;
}

#entry:selected {
  background-color: #8fbcbb;
  border-radius: 0px;
}

#entry {
  background-color: #2e3440;
  color: #d8dee9;
  border-radius: 0px;
}

#input {
  background-color: #2e3440;
  border-color: #8fbcbb;
  border-radius: 0px;
  margin: 4px;
  padding: 4px;
  color: #f4ebec;
}
